NEXT_PUBLIC_PORTSHARE_DOMAIN=portshare.kexoz.dev
NEXT_PUBLIC_DESKTOP_DOWNLOAD_URL=https://github.com/jagadesh31/Portshare/releases/latest/download/PortShare-Setup.exe
NEXT_PUBLIC_SAMPLE_SUBDOMAIN=your-service
NEXT_PUBLIC_SAMPLE_PORT=3000