NEXT_PUBLIC_PORTSHARE_DOMAIN=portshare.kexoz.dev
NEXT_PUBLIC_DESKTOP_DOWNLOAD_URL=https://portshare.kexoz.dev/download/portshare-desktop
NEXT_PUBLIC_SAMPLE_SUBDOMAIN=your-service
NEXT_PUBLIC_SAMPLE_PORT=3000